*{
    padding: 0%;
    margin: 0%;
}
.gap{
  margin-left: 15px;
}
nav {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  background-color: FFAF61;
}

nav .heading {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

nav ul {
  display: flex;
  list-style: none;
  font-weight: 500;
}

nav ul li {
  padding-top: 0px;
  padding: 0px 10px;
  border-radius: 10px;
  transition: 0.2s ease-in;
  font-weight: 500;
}

nav ul li a {
  color: black;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

nav ul li:hover {
  background-color: white;
}

nav ul li a:hover {
  color: orange;
}

nav .sideMenuButton {
  font-size: 20px;
  cursor: pointer;
  display: none;
}

/* responsive navbar css */
@media screen and (max-width: 1330px) {
  nav .sideMenuButton {
      display: flex;
  }

  nav .navbar {
      display: none;
  }

  .sideNavigationBar {
      display: block !important;
  }
}

.sideNavigationBar {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0%;
  background-color: F97300;
  overflow-x: hidden;
  transition: 0.3s ease-in;
  padding-top: 60px;
  display: none;
}

.sideNavigationBar a {
  padding: 8px 8px 8px 40px;
  display: block;
  font-size: 25px;
  font-weight: 400;
  color: black;
  transition: 0.3s;
  text-decoration: none;
}
.heading{
  padding: 0%;
}


.sideNavigationBar a button {
  padding: 0px 0px;
  border-radius: 10px;
  color: green;
  font-size: 16px;
  border-style: none;
  font-weight: 500;
}

.sideNavigationBar a:hover {
  color: black;
}

.sideNavigationBar .closeButton {
  position: absolute;
  top: 11px;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
}

.hh{
  margin-top: -0px;
}
.q{
  color: 10439F;
  font-size: 2.5rem;
}
.a{
    display: flex;
    gap: 20px;
}
.gradient-background {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1540' height='600' preserveAspectRatio='none' viewBox='0 0 1540 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1540' height='600' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/rect%3e%3cpath d='M808.2208889078817 150.51588179659146L848.9852316353387 314.0127303759964 1012.4820802147435 273.2483876485394 971.7177374872866 109.75153906913448z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1230.4656997461384 222.19006085126182L1263.2042514360617 121.43115928422397 1162.4453498690239 88.69260759430068 1129.7067981791006 189.45150916133855z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M693.4653782623442 386.03546545922103L791.9086784744593 392.9192916002521 753.0127675799483 241.81242821156383z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M745.78 178.04 a167.24 167.24 0 1 0 334.48 0 a167.24 167.24 0 1 0 -334.48 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1118.878062682771 65.46123778302209L1050.6928625825483-95.17302718725381 890.0585976122723-26.987827087030922 958.2437977124952 133.64643788324497z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M211.69 79.09 a194.99 194.99 0 1 0 389.98 0 a194.99 194.99 0 1 0 -389.98 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1099.0428927738635 344.40912405940594L1068.1262598613287 468.4089658741275 1192.1261016760502 499.32559878666234 1223.042734588585 375.3257569719408z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M462.38117034761706 349.0088547791821L529.8466736610023 411.92145441278416 590.4828214547128 279.26689962590524z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1540' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.26%25' y1='-39.17%25' x2='84.74%25' y2='139.17%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1007'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(106%2c 0%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    height: 600px;
  }
  
  .img{
    border-radius: 10%;
    @media(max-width :1330px){
        height: 200px;
        width: 400x;
    }
  }
  .display-5{
    font-family: "Roboto", sans-serif;
    font-size: 5rem;
    color: aliceblue;
  }
  
  /*.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    
  }*/
  .h{
    font-size: 7rem;
    font-weight: 900;
    font-family: cursive;
    color: antiquewhite;
    @media(max-width :1330px){
      font-size: 4rem;
      margin: 0;
  }
  }
  
  .lead{
    color: EEEEEE;
  }
  .features{
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 0%;
    width: 90%;
  }
  .c{
    color: 10439F;
    font-size: 2.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .container{
    display: block;
    width: 90%;
  }
  .features{
    border: 2px solid purple;
    width: 100%;
    margin: 30px;
    background-color: C4E4FF;
  }
  .pricing{
    border: 2px solid purple;
    background-color: C4E4FF;

  }
  .contact{
    background-color: FFAF61;
    padding: 0%;
    margin-bottom: -30px;
    height: 30px;
    
  }
  .hi{
    margin-top: 10px;
    background-color: 10439F;
    color: black;
  }
  .p{
    justify-content: center;
  }
  .i{
    margin: 20px;
  }
  .hiii{
    color: black;
  }
  